  <style>
    .editable {
      cursor: pointer;
    }
    .editable:focus {
      outline: none;
      background-color: #e0f7fa;
    }
  </style>
</head>
<body>
  <div class="container mt-4">
    <h3 class="mb-3">Envases en Planta <small class="text-muted">(Total: <span id="total">0</span>)</small></h3>
    <div class="mb-3">
        <button class="btn btn-warning" id="btnCambiarEstado" disabled>Cambiar estado a seleccionados</button>
      </div>
    <div class="table-responsive">
      <table class="table table-bordered table-striped" id="tablaEnvases">
        <thead class="table-dark">
            <tr>
              <th><input type="checkbox" id="checkTodos"></th>
              <th>TGas</th>
              <th>Prod</th>
              <th>Envase</th>
              <th>Vol</th>
              <th>Fecha</th>
              <th>Tdoc</th>
              <th>Documento</th>
              <th>RUC</th>
              <th>Nombre</th>
              <th>Est</th>
              <th>Dias</th>
            </tr>
          </thead>
        <tbody id="tablaBody">
          <!-- Datos insertados dinámicamente -->
        </tbody>
      </table>
    </div>
  </div>
  <div class="modal fade" id="modalCambiarEstado" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-sm modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Cambiar Estado</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body">
          <label for="inputNuevoEstado" class="form-label">Nuevo Estado</label>
          <input type="text" class="form-control editable-input" id="inputNuevoEstado">
        </div>
        <div class="modal-footer">
          <button id="guardarEstadoSeleccionados" class="btn btn-primary">Guardar</button>
          <button class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        </div>
      </div>
    </div>
  </div>
  
  <style>
    .editable-input {
      background-color: #e0f7fa !important;
      border: 2px solid #00bcd4;
    }
  </style>
  

  <script src="../js/submenu4-1.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>